@media(max-width:768px) {
    /* ======= Section Hero ======= */
    .hero-desktop {
        display: none;
    }
    .hero-mobile {
        display: block;
        height: 70vh;
    }
    .section-hero .hero-text {
        z-index: 5;
        position: absolute;
        bottom: 10%;
    }
    .section-hero .hero-images .image-1 {
        top: 5%;
        width: 100px;
    }
    .section-hero .hero-images .image-2 {
        left: 5%;
        top: 35%;
        width: 100px;
    }
    .section-hero .hero-images .image-3 {
        left: 35%;
        top: 10%;
        width: 100px;
    }
    .section-hero .hero-images .image-4 {
        right: 5%;
        top: 0;
        width: 100px;
        left: unset;
    }
    .section-hero .hero-images .image-5 {
        right: 5%;
        top: 35%;
        width: 100px;
    }
    .section-hero:before {
        content: "";
        position: absolute;
        background: var(--themes-red);
        height: 30px;
        width: 40%;
        right: 0;
        bottom: 0;
    }
    /* ======= Navbar ======= */
    /* ======= Section About ======= */
    .section-about .pattern-image {
        /* position: absolute;
        height: 100%;
        width: auto;
        left: 10%;
        top: -10%; */
        display: none;
    }
    /* ======= Section TNC ======= */
    .section-tnc .tab-content {
        margin: 0;
    }
    /* ======= Section Winner ======= */
    .section-winner .the-winner .grid-winner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 0;
        padding-top: 0;
    }
    .section-winner .the-winner {
        margin-top: 50px;
    }
    .section-winner .the-winner .grid-winner .column-winner {
        padding: 30px 0;
    }
    .section-winner .the-winner .grid-winner .column-winner:first-child {
        margin-top: 0;
    }
    .section-winner .the-winner .column-winner img {
        width: 50%;
        margin: 2rem 0;
    }
    .section-winner .the-winner .grid-winner .column-winner:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: url(../img/line_mb.png) no-repeat bottom;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .section-winner .the-winner .grid-winner .column-winner:last-child::before {
        display: block;
    }
    .section-winner .the-winner .grid-winner h5 {
        font-weight: bold;
    }
    /* ======= Section Form ======= */
    .section-form .box-form {
        padding: 2rem;
    }
    /* ======= Section Galeri ======= */
    .section-gallery .gallery-heading h1 {
        font-size: 24px;
    }
    .section-gallery .gallery-heading h1 {}
    .section-gallery .gallery-heading img {
        width: 40%;
    }
    .section-gallery:before {
        width: 30%;
        right: unset;
        top: 10%;
        left: 65%;
    }
    .section-gallery .swiper .swiper-wrapper {}
    .section-gallery .swiper .swiper-button-next,
    .section-gallery .swiper .swiper-button-prev {
        padding: 15px;
    }
    .section-gallery .swiper .swiper-button-next {
        right: 35%;
    }
    .section-gallery .swiper .swiper-button-prev {
        left: 35%;
    }
    /* ======= Section Footer ======= */
    .section-footer .grid-footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 14px;
        padding-top: 0;
    }
    .section-footer .grid-footer .footer-column:nth-child(3),
    .section-footer .grid-footer .footer-column:nth-child(4) {
        margin-top: 2rem;
    }
}