@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@font-face {
    font-family: Gotham_Light;
    src: url(../fonts/GothamLight.ttf);
}

@font-face {
    font-family: Gotham_Medium;
    src: url(../fonts/GothamMedium.ttf);
}

@font-face {
    font-family: Gotham_Bold;
    src: url(../fonts/GothamBold.ttf);
}

:root {
    --themes-dark: #231F20;
    --themes-light: #FFFFFF;
    --themes-red: rgba(225, 9, 22, 1);
    --themes-blue: #003299;
    --text-dark: #333333 !important;
    --text-red: rgba(225, 9, 22, 1) !important;
}

.btn-red {
    background: var(--themes-red);
    color: #FFF;
}

.btn-red:hover {
    background: var(--themes-red);
    opacity: .9;
    color: #FFF;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Gotham_Medium;
    position: relative;
    height: 100%;
    background: var(--themes-light);
    color: var(--text-dark);
}


/* ======= Section Hero ======= */

.hero-desktop {
    display: block;
}

.hero-mobile {
    display: none;
}

.section-hero {
    /* height: 80vh; */
    position: relative;
}

.section-hero:before {
    content: "";
    position: absolute;
    background: var(--themes-red);
    height: 50px;
    width: 10%;
    right: 0;
    bottom: 0;
}

.section-hero .hero-images .image-1 {
    position: absolute;
    -webkit-animation: top-bottom 1s infinite alternate;
    animation: top-bottom 1s infinite alternate;
    z-index: 1;
    top: 0;
}

.section-hero .hero-images .image-2 {
    position: absolute;
    -webkit-animation: top-bottom 1s infinite alternate;
    animation: top-bottom 1s infinite alternate;
    z-index: 6;
    left: 18%;
    top: 25%;
}

.section-hero .hero-images .image-3 {
    position: absolute;
    -webkit-animation: left-right 1s infinite alternate;
    animation: left-right 1s infinite alternate;
    z-index: 6;
    left: 30%;
    top: 0;
}

.section-hero .hero-images .image-4 {
    position: absolute;
    -webkit-animation: top-bottom 1s infinite alternate;
    animation: top-bottom 1s infinite alternate;
    z-index: 6;
    left: 43%;
    top: 10%;
}

.section-hero .hero-images .image-5 {
    position: absolute;
    -webkit-animation: left-right 1s infinite alternate;
    animation: left-right 1s infinite alternate;
    z-index: 6;
    right: 40%;
    top: 35%;
}

.section-hero .hero-images .image-6 {
    position: absolute;
    -webkit-animation: top-bottom 1s infinite alternate;
    animation: top-bottom 1s infinite alternate;
    z-index: 6;
    right: 30%;
    top: 5%;
}

.section-hero .hero-images .image-7 {
    position: absolute;
    -webkit-animation: left-right 1s infinite alternate;
    animation: left-right 1s infinite alternate;
    z-index: 6;
    right: 25%;
    bottom: 30%;
}

.section-hero .hero-images .image-8 {
    position: absolute;
    -webkit-animation: top-bottom 1s infinite alternate;
    animation: top-bottom 1s infinite alternate;
    z-index: 6;
    right: 10%;
}

.section-hero .hero-text {
    margin-top: 15%;
}

.section-hero h1 {
    font-size: 144px;
}

.section-hero p {
    font-family: 'Lato', sans-serif;
}

.section-hero .hero-text {
    z-index: 5;
}


/* ======= Navbar ======= */

.section-navbar .nav .nav-item .nav-link {
    color: var(--text-dark);
    font-family: Gotham_Bold;
    position: relative;
    text-transform: uppercase;
}

.section-navbar .nav .nav-item .nav-link.active {
    color: var(--text-red);
}

.section-navbar .nav .nav-item .nav-link.active:after {
    position: absolute;
    content: "";
    width: 60%;
    height: 2px;
    background: var(--themes-red);
    bottom: 0;
    left: 20%;
}

.section-navbar .nav .nav-item .nav-link:hover:not(.active) {
    color: var(--text-dark);
}

.section-navbar .nav .nav-item .nav-link:focus {
    color: var(--text-red);
}

.section-navbar .nav .nav-item .nav-link:focus:after {
    position: absolute;
    content: "";
    width: 60%;
    height: 2px;
    background: var(--themes-red);
    bottom: 0;
    left: 20%;
}


/* ======= Section About ======= */

.section-about {
    position: relative;
}

.section-about p {
    font-family: 'Lato', sans-serif;
}

.section-about .pattern-image {
    position: absolute;
    height: 100%;
    width: auto;
    left: 10%;
    top: -10%;
}

.section-about .image-about {
    position: relative;
}


/* ======= Section TNC ======= */

.section-tnc {
    background: #F5F5F5;
    position: relative;
}

.section-tnc:before {
    content: "";
    position: absolute;
    background: var(--themes-red);
    height: 50px;
    width: 20%;
    right: 0;
    top: 0%;
}

.section-tnc .nav-pills .nav-link {
    color: var(--text-dark);
    opacity: .5;
    font-family: Gotham_Bold;
}

.section-tnc .nav-pills .nav-link.active {
    background-color: transparent;
    color: var(--text-dark);
    opacity: 1;
}

.section-tnc .tab-content {
    margin: 0 10rem;
}

.section-tnc .tab-content ul li {
    list-style: decimal;
    font-family: 'Lato', sans-serif;
    color: var(--text-dark);
}

.section-tnc .tab-content ul li a {
    color: unset;
    text-decoration: unset;
    font-weight: bold;
}


/* ======= Section Winner ======= */

.section-winner {
    position: relative;
}

.section-winner:before {
    content: "";
    position: absolute;
    background: var(--themes-blue);
    height: 50px;
    width: 20%;
    left: 0;
    top: 0%;
}

.section-winner .the-winner {
    margin-top: 100px;
}

.section-winner .the-winner .grid-winner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20%;
    padding-top: 25px;
}

.section-winner .the-winner .grid-winner h5 {
    font-family: Gotham_Medium;
    position: relative;
    z-index: 5;
}

.section-winner .the-winner .grid-winner .column-winner {
    position: relative;
    text-align: center;
}

.section-winner .the-winner .grid-winner .column-winner:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: url(../img/vector-line2.png) no-repeat;
    right: -80%;
}

.section-winner .the-winner .grid-winner .column-winner:last-child::before {
    display: none;
}


/* ======= Section Form ======= */

.section-form {
    position: relative;
}

.section-form .box-form {
    padding: 5rem;
    box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
    border-radius: 3px;
    position: relative;
}


/* .section-form .pattern-image {
    position: absolute;
    height: 100%;
    width: auto;
    right: 10%;
    bottom: 0;
} */

.section-form .box-form .form-label {
    font-family: 'Lato', sans-serif;
}

.section-form .box-form .form-control {
    border: 0 solid #333333;
    border-bottom: 1px solid #333333;
    background-color: transparent;
    border-radius: 0;
}


/* ======= Section Galeri ======= */

.section-gallery {
    position: relative;
}

.section-gallery:before {
    content: "";
    position: absolute;
    background: var(--themes-blue);
    height: 20px;
    width: 30%;
    right: 10%;
    top: 20%;
}

.section-gallery .gallery-heading h1 {
    font-size: 80px;
}

.section-gallery .swiper .swiper-wrapper {
    height: 350px;
}

.section-gallery .swiper .swiper-slide {
    /* height: calc((100% - 30px) / 2); */
}

.section-gallery .swiper .swiper-button-next,
.section-gallery .swiper .swiper-button-prev {
    bottom: 0;
    top: unset;
    color: #110580;
    border: 1px solid #110580;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: 20px;
}

.section-gallery .swiper .swiper-button-next:hover,
.section-gallery .swiper .swiper-button-prev:hover {
    color: #FFF;
    background: #110580;
}

.section-gallery .swiper .swiper-button-next:after,
.section-gallery .swiper .swiper-button-prev:after {
    font-size: 20px;
}

.section-gallery .swiper .swiper-button-prev {
    left: 45%;
    right: unset;
    margin-left: .5rem;
}

.section-gallery .swiper .swiper-button-next {
    right: 45%;
    left: unset;
    margin-right: .5rem;
}


/* ======= Section Footer ======= */

.section-footer {
    background: var(--themes-red);
    color: var(--themes-light);
}

.section-footer .grid-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 14px;
    padding-top: 25px;
}

.section-footer .grid-footer .footer-column {
    font-family: 'Lato', sans-serif;
}

.section-footer .grid-footer .footer-column p {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 1px;
}

.section-footer .footer-sosmed {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
}

.section-footer .footer-sosmed a {
    margin-right: 15px;
    margin-bottom: 15px;
}

.section-footer .footer-column .form-control {
    border: 0 solid #FFF;
    border-bottom: 1px solid #FFF;
    background-color: transparent;
    border-radius: 0;
}

.section-footer .footer-column .form-control::placeholder {
    color: #FFF;
}

.section-footer .footer-column .form-control:focus {
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(225, 9, 22, 1);
}

.section-footer .footer-column form {
    display: flex;
}

.section-footer .footer-column form button {
    background: transparent;
    padding: 5px 10px;
    box-shadow: transparent;
    border: 0;
}

.section-copyright {
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    font-family: 'Lato', sans-serif;
}

.section-copyright p {
    font-size: 14px;
    color: rgba(35, 31, 32, 0.7);
    font-weight: 600;
}


/* ======= Animation ======= */

@-webkit-keyframes top-bottom {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes top-bottom {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

@-webkit-keyframes left-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-10px);
    }
}

@keyframes left-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-10px);
    }
}

.enlarge {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.enlarge:hover {
    width: 70%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}